@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	width: 100%;
	height: 100vh;
	background: url(../images/BG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	font-family: Montserrat;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
	
}

.nav .mobile {
	display: none;
	color: black;
}

.logo {
	letter-spacing: 1px;
	float: left;
	color: black;
	font-weight: 600;
	font-size: 25px;
	line-height: 80px;
	padding: 0 3em;
}

.menu {
	float: right;
	line-height: 50px;
	margin: 0 3em;
}

.menu .line {
	margin: 0 10px;
	width: 75px;
	height: 2px;
	background-color: black;
	transition: 0.4s all;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: lighter;
	padding: 0 20px;
}

.menu ul li a:hover {
	font-weight: bold;
}



.menu ul li:nth-child(2):hover ~ .line {
	width: 110px;
	transform: translate(101px);
}

.menu ul li:nth-child(3):hover ~ .line {
	width: 83px;
	transform: translate(245px);
}

.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.header h1 {
	color: black;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 30px;
}

.header p {
	color: black;
	font-size: 24px;
	font-weight: lighter;
}

.header button {
	color: #fff;
	font-family: K2D;
	background: black;
	border-radius: 4px;
	padding: 18px 38px;
	border: none;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
}
.header button:hover {
	transition: all 0.3s;
	background: none;
	color: black;
	border-right: 5px solid black;
	border-left: 5px solid black;
}

/* When screen is less than 708px enter mobile device viewing mode*/
@media screen and (max-width: 708px) {
	.nav ul li a {display: none;}
	.nav .line {display: none;}
	
	.nav a.mobile {
		float: right;
		display: block;
	}
}

/* Responsive that interacts with JavaScript*/
@media screen and (max-width: 708px) {
	.nav.responsive {position: relative;}
	.nav.responsive a.mobile {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.nav.responsive ul li a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (max-width: 380px) {
	.nav .logo {padding: 0 1em;}
}










